@font-face {
    font-family: Permanent Marker, cursive;
    src: url(http://fonts.googleapis.com/css?family=Permanent+Marker);
}

body {
    background-color: rgb(185,179,175);
    font-family: Arial, Verdana, sans-serif;
}
ul {
    text-align: center;
}
h1, h2 {
    text-align: center;
    color: #607b8b;
}
h3 {
    text-align: center;
    color: #1F3d5C;
    border: 2px solid #191919;
}
h4 {
    border: 2px solid #191919;
    text-align: center;
    color: 	#1F3D5C;
}
h5 {
    font-family: Permanent Marker;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #24476B;
}
p {
    font-family: 'Permanent Marker', cursive;
    margin: 10px auto;
    width: 750px;
    color: #191919;
}
blockquote {
    margin: 10px auto;
    font-family: Zapf Chancery, cursive;
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: #242400;
}
a:link {
    color: purple;
    text-decoration: none;
}
a:visited {
    color: green;
}
a:hover {
    color: deepskyblue;
    text-decoration: underline;
}
a:active {
    color: darkblue;
}
img {
    border: 2px solid #191919;
    padding: 10px 40px;
    background: #607b8b;
    border-radius: 25px 25px;
    box-shadow: 10px 10px 5px #888888;

}